In [2]:
import pandas as pd
import numpy as np

In [3]:
gods_df=pd.read_csv("D:/code data/greek_gods.csv")
goddess_df=pd.read_csv("D:/code data/greek_goddesses.csv")
print(gods_df)
print()
print(goddess_df)

       Name    Age      Domain            Description          Symbol
0      Zeus  10000         Sky       King of the gods  Lightning bolt
1  Poseidon   9000         Sea         God of the sea         Trident
2     Hades   8500  Underworld  God of the underworld          Helmet
3      Ares   7500         War             God of war           Spear
4    Apollo   7000         Sun         God of the sun     Golden lyre

        Name   Age     Domain             Description         Symbol
0       Hera  9800   Marriage       Queen of the gods        Peacock
1     Athena  8200  Knowledge       Goddess of wisdom            Owl
2    Artemis  8100    Hunting     Goddess of the hunt  Bow and arrow
3  Aphrodite  7500       Love         Goddess of love           Dove
4    Demeter  8200    Harvest  Goddess of agriculture          Wheat

In [4]:
# QUES1("Merge the data from greek_gods.csv and greek_goddesses.csv")
gods_df=pd.read_csv("D:/code data/greek_gods.csv")
goddess_df=pd.read_csv("D:/code data/greek_goddesses.csv")
# print(gods_df)
print()
# print(goddess_df)

merged_df=pd.merge(gods_df,goddess_df,on="Domain",how="outer",suffixes=('_god','_goddess'))
print(merged_df)

   Name_god  Age_god      Domain        Description_god      Symbol_god  \
0       NaN      NaN     Harvest                    NaN             NaN
1       NaN      NaN     Hunting                    NaN             NaN
2       NaN      NaN   Knowledge                    NaN             NaN
3       NaN      NaN        Love                    NaN             NaN
4       NaN      NaN    Marriage                    NaN             NaN
5  Poseidon   9000.0         Sea         God of the sea         Trident
6      Zeus  10000.0         Sky       King of the gods  Lightning bolt
7    Apollo   7000.0         Sun         God of the sun     Golden lyre
8     Hades   8500.0  Underworld  God of the underworld          Helmet
9      Ares   7500.0         War             God of war           Spear

  Name_goddess  Age_goddess     Description_goddess Symbol_goddess
0      Demeter       8200.0  Goddess of agriculture          Wheat
1      Artemis       8100.0     Goddess of the hunt  Bow and arrow
2       Athena       8200.0       Goddess of wisdom            Owl
3    Aphrodite       7500.0         Goddess of love           Dove
4         Hera       9800.0       Queen of the gods        Peacock
5          NaN          NaN                     NaN            NaN
6          NaN          NaN                     NaN            NaN
7          NaN          NaN                     NaN            NaN
8          NaN          NaN                     NaN            NaN
9          NaN          NaN                     NaN            NaN

In [50]:
# QUES2("Filter the merged table to only include gods and goddesses who are older than 8000 years,
#  then sort them based on their ages in descending order.")

# Filter
filtered_df = merged_df[(merged_df['Age_god'] > 8000) | (merged_df['Age_goddess'] > 8000)]

# Sort 
sorted_filtered_df = filtered_df.sort_values(by=['Age_god', 'Age_goddess'], ascending=False)
print(sorted_filtered_df)

   Name_god  Age_god      Domain        Description_god      Symbol_god  \
6      Zeus  10000.0         Sky       King of the gods  Lightning bolt
5  Poseidon   9000.0         Sea         God of the sea         Trident
8     Hades   8500.0  Underworld  God of the underworld          Helmet
4       NaN      NaN    Marriage                    NaN             NaN
0       NaN      NaN     Harvest                    NaN             NaN
2       NaN      NaN   Knowledge                    NaN             NaN
1       NaN      NaN     Hunting                    NaN             NaN

  Name_goddess  Age_goddess     Description_goddess Symbol_goddess
6          NaN          NaN                     NaN            NaN
5          NaN          NaN                     NaN            NaN
8          NaN          NaN                     NaN            NaN
4         Hera       9800.0       Queen of the gods        Peacock
0      Demeter       8200.0  Goddess of agriculture          Wheat
2       Athena       8200.0       Goddess of wisdom            Owl
1      Artemis       8100.0     Goddess of the hunt  Bow and arrow

In [61]:
# QUES 3("Join the two tables based on the "Domain" field and calculate the average age of gods and goddesses in each domain.")
gods_df=pd.read_csv("D:/code data/greek_gods.csv")
goddess_df=pd.read_csv("D:/code data/greek_goddesses.csv")

# Merge
merged_df = pd.merge(gods_df, goddess_df, on='Domain', how='outer', suffixes=('_god', '_goddess'))
# average 
average_age_by_domain = merged_df.groupby('Domain')[['Age_god', 'Age_goddess']].mean()
print(average_age_by_domain)

            Age_god  Age_goddess
Domain
Harvest         NaN       8200.0
Hunting         NaN       8100.0
Knowledge       NaN       8200.0
Love            NaN       7500.0
Marriage        NaN       9800.0
Sea          9000.0          NaN
Sky         10000.0          NaN
Sun          7000.0          NaN
Underworld   8500.0          NaN
War          7500.0          NaN
10000.0

In [6]:
# QUES 4(".Determine which god/goddess has the highest age, and then find out if they are a god or a goddess.")

merged_df['Age_god'] = merged_df['Age_god'].fillna(0)
merged_df['Age_goddess'] = merged_df['Age_goddess'].fillna(0)
max_age=max(merged_df[['Age_god', 'Age_goddess']].values.flatten())
# or 
# ages = merged_df[['Age_god', 'Age_goddess']].values.flatten()
# # removing nan
# ages_without_nan = ages[~pd.isna(ages)]
# max_age = max(ages_without_nan)

print(max_age)

# check maximum age corresponds to a god or a goddess or not
max_age_god = max(merged_df['Age_god'])
max_age_goddess = max(merged_df['Age_goddess'])

if max_age == max_age_god:
    print("the highest age is a god.")
elif max_age == max_age_goddess:
    print(" highest age is a goddess.")
else:
    print("The highest age does not correspond to any god or goddess.")

10000.0
the highest age is a god.

In [69]:
# QUES 5("Create a new column in each table called "Age_Group" and categorize the gods/goddesses into groups such as "Young" (age < 5000), 
# "Middle-aged" (age between 5000 and 8000), and "Old" (age > 8000).")

# print(merged_df)
def categorize(age):
    if age < 5000:
        return "Young"
    elif age >= 5000 and age <= 8000:
        return "Middle-aged"
    else:
        return "Old"

merged_df['Age_Group_god'] = merged_df['Age_god'].apply(categorize)
merged_df['Age_Group_goddess'] = merged_df['Age_goddess'].apply(categorize)
print(merged_df)

   Name_god  Age_god      Domain        Description_god      Symbol_god  \
0       NaN      0.0     Harvest                    NaN             NaN
1       NaN      0.0     Hunting                    NaN             NaN
2       NaN      0.0   Knowledge                    NaN             NaN
3       NaN      0.0        Love                    NaN             NaN
4       NaN      0.0    Marriage                    NaN             NaN
5  Poseidon   9000.0         Sea         God of the sea         Trident
6      Zeus  10000.0         Sky       King of the gods  Lightning bolt
7    Apollo   7000.0         Sun         God of the sun     Golden lyre
8     Hades   8500.0  Underworld  God of the underworld          Helmet
9      Ares   7500.0         War             God of war           Spear

  Name_goddess  Age_goddess     Description_goddess Symbol_goddess  \
0      Demeter       8200.0  Goddess of agriculture          Wheat
1      Artemis       8100.0     Goddess of the hunt  Bow and arrow
2       Athena       8200.0       Goddess of wisdom            Owl
3    Aphrodite       7500.0         Goddess of love           Dove
4         Hera       9800.0       Queen of the gods        Peacock
5          NaN          0.0                     NaN            NaN
6          NaN          0.0                     NaN            NaN
7          NaN          0.0                     NaN            NaN
8          NaN          0.0                     NaN            NaN
9          NaN          0.0                     NaN            NaN

  Age_Group_god Age_Group_goddess    Age_Group
0         Young               Old          Old
1         Young               Old          Old
2         Young               Old          Old
3         Young       Middle-aged  Middle-aged
4         Young               Old          Old
5           Old             Young          Old
6           Old             Young          Old
7   Middle-aged             Young  Middle-aged
8           Old             Young          Old
9   Middle-aged             Young  Middle-aged

In [70]:
# QUES 6("Compare the average ages of gods and goddesses. Is there a significant age difference between them? If yes,
#  which group tends to be older?")

# calculate average ages of gods and goddesses
avg_age_gods = merged_df['Age_god'].mean()
avg_age_goddesses = merged_df['Age_goddess'].mean()

# compare average ages
if avg_age_gods > avg_age_goddesses:
    print("Gods are older on average.")
elif avg_age_goddesses > avg_age_gods:
    print("Goddesses are older on average.")
else:
    print("The average ages of gods and goddesses are the same.")

# print the average ages
print("Average age of gods:", avg_age_gods)
print("Average age of goddesses:", avg_age_goddesses)

Gods tend to be older on average.
Average age of gods: 4200.0
Average age of goddesses: 4180.0

In [5]:
# QUES 7("Write a Python program using for loop to iterate over the "Age" column of the merged table 
# (after merging the gods and goddesses tables) and print out the names of gods/goddesses who are older than 8000 years.")

# Iterate over the merged table and print names of gods/goddesses older than 8000 years
for index, row in merged_df.iterrows():
    if row['Age_god'] > 8000:
        print("God:", row['Name_god'])
    if row['Age_goddess'] > 8000:
        print("Goddess:", row['Name_goddess'])

Goddess: Demeter
Goddess: Artemis
Goddess: Athena
Goddess: Hera
God: Poseidon
God: Zeus
God: Hades

In [78]:
# QUES 8(".Write a Python program to find the oldest god/goddess from the merged table (after merging the gods and goddesses tables)
#  by iterating through the "Age" column using a while loop. Print out the name of the oldest god/goddess and their age.")

# Find the oldest god/goddess using a while loop
oldest_age = 0
oldest_name = None

# Iterate over the merged table to find the oldest god/goddess
index = 0
while index < len(merged_df):
    row = merged_df.iloc[index]
    if row['Age_god'] >= oldest_age:
        oldest_name = row['Name_god']
        oldest_age = row['Age_god']
    if row['Age_goddess'] >= oldest_age:
        oldest_name = row['Name_goddess']
        oldest_age = row['Age_goddess']
    index += 1

# Print the name of the oldest god/goddess and their age
print("The oldest god/goddess is:", oldest_name)
print("Their age is:", oldest_age)

The oldest god/goddess is: Zeus
Their age is: 10000.0