In [93]:
import numpy as np
import pandas as pd

In [94]:
data = np.array([[1, 2, 3],
                 [4, 5, 6],
                 [7, 8, 9]])

df = pd.DataFrame(data, columns=['A', 'B', 'C'])
print(df)

   A  B  C
0  1  2  3
1  4  5  6
2  7  8  9

In [95]:
data=pd.read_csv("C:/Users/ASUS/Downloads/states_by_country.csv")
print(data)

     State Code                   State Name Country Code Country Name
0           BDS                   Badakhshan           AF  Afghanistan
1           BDG                      Badghis           AF  Afghanistan
2           BGL                      Baghlan           AF  Afghanistan
3           BAL                        Balkh           AF  Afghanistan
4           BAM                       Bamyan           AF  Afghanistan
...         ...                          ...          ...          ...
4984         MW    Mashonaland West Province           ZW     Zimbabwe
4985         MV            Masvingo Province           ZW     Zimbabwe
4986         MN  Matabeleland North Province           ZW     Zimbabwe
4987         MS  Matabeleland South Province           ZW     Zimbabwe
4988         MI            Midlands Province           ZW     Zimbabwe

[4989 rows x 4 columns]

In [96]:
data=pd.read_excel("C:/Users/ASUS/Downloads/file_example_XLSX.xlsx")
# print(data.head(10))
# print(data.tail(10))
# print(data.info())
# data.describe()

# print(data.isnull())
print(data.isnull().sum())

Unnamed: 0    0
First Name    0
Last Name     0
Gender        0
Country       0
Age           0
Date          0
Id            0
dtype: int64

In [97]:
        # WORKING WITH DUPLICATES

# data1=pd.read_excel("D:/code data/DummyPandas.xlsx")
# print(data1)
# print(data1.duplicated())
# print(data1['EEID'].duplicated())
# print(data1['EEID'].duplicated().sum())
# print(data1["Salary"].isnull().sum())

# print(data1.drop_duplicates())
# print(data1["EEID"].drop_duplicates())
# print(data1.drop_duplicates("EEID"))
# print(data1)

In [98]:
#  WORKING WITH MISSING VALUES
data1=pd.read_excel("D:/code data/DummyPandas.xlsx")
# print(data1)
# print(data1.isnull().sum())
# print(data1.dropna())

# print(data1.replace(np.nan,"null value cell"))
# data1.fillna("hi null cell")
# data1["Salary"]=data1["Salary"].replace(np.nan,30000)
# data1["Salary"]=data1["Salary"].replace(np.nan,data1["Salary"].mean())

# print(data1.fillna(method="ffill"))
# data1.fillna("hi null cell")

In [100]:
        # COLUMN TRANSFORMATION
df=pd.read_excel("D:/code data/ESD.xlsx")
# conditon basis column transformation
# if bounus is less than 0 create column GetBonus and write bonus else no bonuss
# df.loc[(df["Bonus %"]==0),"GetBonus"]="no bonus"
# df.loc[(df["Bonus %"])>0,"GetBonus"]="bonus"
# print(df.head(10))

df1=pd.read_excel("D:/code data/practice_1.xlsx")
# print(df1)
#combining two columns into new column
# df1["Full Name"]=df1["First Name"]+" "+df1["Last Name"]
# print(df1)
# df1["Full Name"]=df1["First Name"].str.capitalize()+" "+df1["Last Name"].str.capitalize()
# #creating new column bonus and adding values in them 
# df1["Bonus"]=(df1["Salary"]/100)*20


def extract(value):
    return value[0:3]

data1={"Months":["January","February","March","April"]}
a=pd.DataFrame(data1)
a["short_months"]=a["Months"].map(extract)
print(a)

     Months short_months
0   January          Jan
1  February          Feb
2     March          Mar
3     April          Apr

In [99]:
      #  GROUP BY
data=pd.read_excel("D:/code data/ESD.xlsx")

# gp=data.groupby(["Department","Gender"]).agg({"EEID":"count"})
# gp1=data.groupby("Country").agg({"Age":"mean"})
gp1=data.groupby(["Country","Gender"]).agg({"Annual Salary":"max","Age":"min"})

print(gp1)

                      Annual Salary  Age
Country       Gender
Brazil        Female         258426   25
              Male           249506   26
China         Female         249686   25
              Male           257194   25
United States Female         258498   25
              Male           258081   25

In [111]:
# data1= {"Emp Id":["E01","E02","E03","E04","E05","E06"],
#         "Names":["Ram","Shyam","Rahul","Vishal","Ravi","John"],
#         "Age":[34,56,23,44,32,36]}

# data2={"Emp Id":["E01","E02","E03","E04","E05","E06"],
#         "Salary":[45000,56000,34000,30000,50000,62000]}
# df1=pd.DataFrame(data1)
# df2=pd.DataFrame(data2)
# print(df1)
# print()
# print(df2)

# print(pd.merge(df1,df2,on="Emp Id"))
# print(pd.merge(df1,df2,on="Emp Id",how="left"))

data1= {"Emp Id":["E01","E02","E03","E04","E05","E06"],
        "Names":["Ram","Shyam","Rahul","Vishal","Ravi","John"],
        "Age":[34,56,23,44,32,36]}

data2={"Emp Id":["E07","E08","E09","E10","E11","E12"],
        "Names":["bittu","chintu","Pappu","chotu","bunty","golu"],
        "Age":[34,56,23,44,32,36]}
df1=pd.DataFrame(data1)
df2=pd.DataFrame(data2)

print(pd.concat([df1,df2]))

  Emp Id   Names  Age
0    E01     Ram   34
1    E02   Shyam   56
2    E03   Rahul   23
3    E04  Vishal   44
4    E05    Ravi   32
5    E06    John   36
0    E07   bittu   34
1    E08  chintu   56
2    E09   Pappu   23
3    E10   chotu   44
4    E11   bunty   32
5    E12    golu   36

In [121]:
    # COMPARE DATAFRMES

dict={"Fruits":["mango","apples","banana","papaya"],
      "Price":[100,150,30,35],
      "Quantity":[15,10,10,3]}
df1=pd.DataFrame(dict)
# print(df1)

df2=df1.copy()
df2.loc[0,"Price"]=120
df2.loc[1,"Price"]=175
df2.loc[3,"Price"]=30
df2.loc[0,"Quantity"]=12
df2.loc[1,"Quantity"]=15
df2.loc[3,"Quantity"]=5
# print(df2)
# print(df1.compare(df2,align_axis=0))
print(df1.compare(df2,keep_equal=True))
print(df1.compare(df2,keep_shape=True))

   Fruits  Price  Quantity
0   mango    100        15
1  apples    150        10
2  banana     30        10
3  papaya     35         3
   Fruits  Price  Quantity
0   mango    120        12
1  apples    175        15
2  banana     30        10
3  papaya     30         5
  Price       Quantity
   self other     self other
0   100   120       15    12
1   150   175       10    15
3    35    30        3     5
  Fruits        Price        Quantity
    self other   self  other     self other
0    NaN   NaN  100.0  120.0     15.0  12.0
1    NaN   NaN  150.0  175.0     10.0  15.0
2    NaN   NaN    NaN    NaN      NaN   NaN
3    NaN   NaN   35.0   30.0      3.0   5.0

In [138]:
  # PIVOTING AND MELTING DATAFRAMES

# dict={"keys":["k1","k2","k1","k2"],
#       "Names":["John","Ben","David","Peter"],
#       "Houses":["red","blue","green","red"],
#       "Grades":["3rd","8th","9th","8th"]}

# df=pd.DataFrame(dict)
# print(df)

# # print(df.pivot(index='keys', columns='Names', values='Houses',values="Grades"))
# print(df.pivot_table(index='keys', columns='Names', values=['Houses', 'Grades'], aggfunc='first'))

dict={ "Names":["John","Ben","David","Peter"],
      "Houses":["red","blue","green","red"],
      "Grades":["3rd","8th","9th","8th"]}
df=pd.DataFrame(dict)
print(df)
print(pd.melt(df,id_vars=["Names"],value_vars=["Houses"]))
print(pd.melt(df,id_vars=["Names"],value_vars=["Houses","Grades"],var_name="Houses&Grades",value_name="values"))

   Names Houses Grades
0   John    red    3rd
1    Ben   blue    8th
2  David  green    9th
3  Peter    red    8th
   Names variable  value
0   John   Houses    red
1    Ben   Houses   blue
2  David   Houses  green
3  Peter   Houses    red
   Names Houses&Grades values
0   John        Houses    red
1    Ben        Houses   blue
2  David        Houses  green
3  Peter        Houses    red
4   John        Grades    3rd
5    Ben        Grades    8th
6  David        Grades    9th
7  Peter        Grades    8th